/*////////////////////////
Table of Contents
1. Global Styles & variables
2. Typography
3. Layout
3.1 Reusables
3.2 Other
4. Areas
4.1 Header
4.2 Introduction
etc.
5. Media Queries
////////////////////////*/


/* ------------------------------- 1. Global Styles & variables ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --button-color: #ED4385;
    --main-p-color: #0C0C0C;
    --big-floating-words: #F2F0FF;
    --main-bg-color-projects: #F3F6F9;
    --grey: #7A7A7A;
    --header-bg-radient: linear-gradient(90deg, rgba(72,69,228,1) 50%, rgba(87,34,205,1) 90%);
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: var(--big-floating-words);
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--main-p-color);
}

a {
    text-decoration: none;
    color: var(--big-floating-words);
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: var(--big-floating-words);
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 100px grey;
    background-color: var(--button-color);
    padding: 15px 30px;
    margin: 20px;
    text-transform: uppercase;
}

.projects {

}

.services {

}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: var(--header-bg-radient);
}

.inner-container_nav {
    flex-basis: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.inner-container_nav ul {
    flex-basis: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: var(--big-floating-words);
}

.inner-container_header-content {
    flex-basis: 30vh;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.inner-container_img {
    flex-basis: 5vh;
    text-align: center;
    width: 100%;
}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
